/*

* Override Pages default styles or create your own styles here

*/

.jumbotron h1.large-demo-text{
	font-size: 150px;
}

.icon-text-search{
	font-size: 42px;
	width: 150%;
}

.radio-toolbar {
  margin: 10px;
}

.radio-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-toolbar label {
    display: inline-block;
    background-color: #ddd;
    padding: 10px 20px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    /*border: 2px solid #444;
    border-radius: 4px;*/
}

.radio-toolbar input.input-checkbox-true:checked + label:hover {
  background-color: #77DD77;
}

.radio-toolbar input.input-checkbox-false:checked + label:hover {
  background-color: #ff6961;
}

/*.radio-toolbar input[type="radio"]:focus + label {
    border: 2px dashed #444;
}*/

.radio-toolbar input.input-checkbox-true:checked + label {
    background-color: #77DD77;
}

.radio-toolbar input.input-checkbox-false:checked + label {
    background-color: #ff6961;
}


.switch-toggle {
    color: #dddddd; /* faded color (very light gray) when on theme-light for inactive icon */
}

.switch-toggle input {
    position: absolute;
    opacity: 0; /* hide the <input type=checkbox> element */
}
.switch-toggle input + label {
    padding: 4px 8px 4px 8px; /* make the label become a square (with volume) */
    float: left;
    margin-bottom: unset;
}
.switch-toggle input:checked + label {
    /*background-color: green;*/ /* edited: checked/active switch toggle is not identified by background-color but from text color */
    font-weight: bold;
}
.switch-toggle input.input-checkbox-true:checked + label {
    color: green; /* edited: checked/active ON switch toggle is identified by GREEN font color */
}
.switch-toggle input.input-checkbox-null:checked + label {
    color: blue; /* edited: checked/active N/A switch toggle is identified by BLUE font color */
}
.switch-toggle input.input-checkbox-false:checked + label {
    color: red; /* edited: checked/active OFF switch toggle is identified by RED font color */
}

.form-control[readonly] {
    color: unset!important;
    background-color: #FFF!important;
}

.chat-view .chat-bubble.from-system {
    color: #061223;
    opacity: 0.5;
    background: #EEE;
    position: relative;
    text-align: center;
    max-width: 100%!important;
    border: 1px solid #EEE;
    font-size: .7em;
    margin-top: 15px!important;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.text-success {
    color: #28a745!important;
}

.btn-success {
    background-color:#28a745;
    color: #fff;
    border-color: #28a745;
}

.btn-success:hover {
    background-color:#24bd47 !important;
    color: #fff;
    border-color: #24bd47 !important;
}

.btn-success:not(:disabled):not(.disabled):active {
    background-color: #048100!important;
}

.btn-outline-success {
    border-color: #28a745;
}

.btn-outline-success, .btn-outline-success:focus {
    border-color: #28a745;
    color: #28a745;
}

.btn-outline-success.active, .btn-outline-success:not(:disabled):not(.disabled):active, .btn-outline-success.active:focus, .btn-outline-success:not(:disabled):not(.disabled):active:focus, .btn-outline-success:not(:disabled):not(.disabled):active:hover, .btn-outline-success .show .dropdown-toggle.btn-outline-success {
    color: #28a745;
    background-color: rgb(40, 167, 69, 0.4);
}

.btn:not(.collapsed)[aria-expanded] {
    background-color: white !important;
    color: black !important;
    border-color: black !important;
}

.badge-primary {
    background-color:#007be8;
    color: #fff;
}

.badge-success {
    background-color:#28a745;
    color: #fff;
}

.modal-open .select2-container {
    z-index: 1040;
}

/* Start Pajak */
.pajak .head1 {
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap;
}

.pajak .head2 {
    font-size: 15px;
    font-weight: bold;
    white-space: nowrap;
}

.pajak .head3 {
    font-size: 14px;
    font-weight: bold;
    white-space: nowrap;
}

.pajak .head4 {
    font-size: 14px;
    white-space: nowrap;
}

.pajak .kode {
    font-size: 9px;
    color: blue;
}

.pajak .w33 {
    width: 33.33%!important;
}

.pajak .kode2 {
    font-size: 9px;
}

.pajak .label {
    font-size: 10px;
    font-weight: bold;
    white-space: nowrap;
}

.pajak .staples {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #D3D3D3;
}

.pajak .imglogo {
    width: 80px;
    height: 80px;
}

.pajak .imgttd {
    width: 200px;
    /* position: absolute;
    bottom: 430px;
    right: 350px; */
}

.pajak .grey{
    background-color:#D3D3D3;
}

/* End Pajak */

/* Menu */
.icon-thumbnail {
    margin-right: 10px !important;
    left: unset !important;
    right: 0 !important;
    float: unset !important;
    position: absolute !important;
    z-index: -1;
}

.page-sidebar .sidebar-menu .menu-items>li>a>.arrow {
    padding-right: 0px !important;
}

.page-sidebar .sidebar-menu .menu-items li>a {
    width: 95% !important;
}

.page-sidebar .sidebar-menu .menu-items>li ul.sub-menu {
    padding: 0 !important;
    margin: 0 !important;
}

.table tbody tr td {
    padding: 8px !important;
}
/* End Menu */

/* datatable */
table.table-bordered.dataTable {
    border-collapse: collapse !important;
}
table.dataTable thead.thead-dark .sorting_asc, table.dataTable thead.thead-dark .sorting_desc, table.dataTable thead.thead-dark .sorting_disabled {
    color:white!important;
}
table.dataTable thead.thead-dark .sorting:after, table.dataTable thead.thead-dark .sorting_asc:after, table.dataTable thead.thead-dark .sorting_asc:before, table.dataTable thead.thead-dark .sorting_desc:after, table.dataTable thead.thead-dark .sorting_desc:before {
    background-color: white;
}
table.table-bordered.dataTable thead.thead-dark th, table.table-bordered.dataTable td {
    border-width: 1px !important;
}
/* End datatable */

/* Start tahapan tracking */
.steps .step {
    display: block;
    width: 100%;
    margin-bottom: 35px;
    text-align: center;
}

.steps .step .step-icon-wrap {
    display: block;
    position: relative;
    width: 100%;
    height: 30px;
    text-align: center;
}

.steps .step .step-icon-wrap::before,
.steps .step .step-icon-wrap::after {
    display: block;
    position: absolute;
    top: 50%;
    width: 50%;
    height: 3px;
    margin-top: -1px;
    background-color: #e1e7ec;
    content: '';
    z-index: 1;
}

.steps .step .step-icon-wrap::before {
    left: 0
}

.steps .step .step-icon-wrap::after {
    right: 0
}

.steps .step .step-icon {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
    border: 1px solid #e1e7ec;
    border-radius: 50%;
    background-color: #f5f5f5;
    color: #374250;
    font-size: 13px;
    line-height: 31px;
    z-index: 5
}

.steps .step .step-title {
    margin-top: 16px;
    margin-bottom: 0;
    color: #606975;
    font-size: 13px;
    font-weight: 500;
}

.steps .step:first-child .step-icon-wrap::before {
    display: none
}

.steps .step:last-child .step-icon-wrap::after {
    display: none
}

.steps .step.completed .step-icon-wrap::before,
.steps .step.completed .step-icon-wrap::after {
    background-color: #0da9ef
}

.steps .step.completed .step-icon {
    border-color: #0da9ef;
    background-color: #0da9ef;
    color: #fff
}

/* End tahapan tracking */